<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="template">
<body>
<section layout:fragment="content" class="h-100">
  <div class="row justify-content-center h-100">
    <div class="col-md-10 col-lg-8 d-flex flex-column nowrap justify-content-center">
      <div class="card mt-4 mb-4">
        <div class="card-header">
          <h4 class="card-title">Đổi mật khẩu</h4>
        </div>
        <div class="card-body bd-sidebar">
          <form th:action="@{/change-password}" th:object="${changePasswordDTO}" method="post" class="p-md-4 bd-links">
              <!--/*@thymesVar id="currentUser" type="com.hsf302.trialproject.entity.User"*/-->
            <input type="hidden" name="username" th:value="${currentUser.username}">
            <div class="mb-3">
              <div th:replace="fragments/input :: customInput('oldPassword', 'password', 'bi-key', 'Mật khẩu cũ')"></div>
            </div>
            <div class="mb-3">
              <div th:replace="fragments/input :: customInput('password', 'password', 'bi-key', 'Mật khẩu mới')"></div>
            </div>
            <div class="mb-3">
              <div th:replace="fragments/input :: customInput('confirmPassword', 'password', 'bi-key', 'Nhập lại mật khẩu mới')"></div>
            </div>
            <div th:replace="fragments/recapcha :: recapcha"></div>
            <p th:text="${error}" class="text-danger mb-3"></p>
            <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
