<div th:fragment="footer" class="container-fluid pt-2 pb-4 border-top bg-body-tertiary fixed-bottom">
    <footer class="container d-flex justify-content-between">
        <span class="d-flex align-items-center">Copyright © Group 2</span>
        <ul class="nav m-0">
            <li class="nav-item">
                <a class="nav-link text-secondary" aria-current="page" href="#">
                    Chính sách bảo mật
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">
                    Điều khoản sử dụng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#">
                    Liên hệ
                </a>
            </li>
        </ul>
    </footer>
</div>