<aside th:fragment="sidebar" class="col-sm-2 p-3 border-end bg-body-tertiary d-none d-lg-block h-100" id="collapseWidthExample">
  <div class="animated-border-box-glow"></div>
  <a href="/" class="d-flex bg-body align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none rounded-2 p-2 animated-border-box">
      <img th:src="@{/images/logo.png}" class="img-thumbnail rounded-circle me-2 bg-light" alt="logo" width="50" height="50">
      <span class="d-print-block fw-bold fs-3">RSMS</span>
  </a>
  <hr>
  <ul th:replace="~{fragments/featureList :: featureList('list-unstyled ps-0', 'list-feature-pc')}"></ul>

  <hr>

  <script>
      function syncBox() {
          let animatedBorderBoxGlow = document.querySelector('.animated-border-box-glow');
          let animatedBorderBox = document.querySelector('.animated-border-box');

          let width = animatedBorderBox.offsetWidth;
          let height = animatedBorderBox.offsetHeight;

          if (width > 0 && height > 0) { // Đảm bảo giá trị hợp lệ
              animatedBorderBoxGlow.style.width = width + 'px';
              animatedBorderBoxGlow.style.height = height + 'px';
          }
      }
      function debounce(func, wait) {
          let timeout;
          return function(...args) {
              clearTimeout(timeout);
              timeout = setTimeout(() => func.apply(this, args), wait);
          };
      }

      window.addEventListener('resize', debounce(syncBox, 200));
      window.addEventListener('load', () => setTimeout(syncBox, 100));


  </script>
</aside>

